/*Add CSS styles here*/
.leaflet-popup-content p {
    margin: 0.2em 0;
}
#body{
    margin:0;
}

#mapid{
    height: 400px;
    width: 100vw;
    display: inline-block;
}

#panel{
    width: 25%;
    padding: 20px;
    display: inline-block;
    vertical-align: top;
    text-align:center;
    line-height:42px;
}

.sequence-control-container{
    width: 350px;
    height: 30px;
    background-color: #f4a261;
    padding: 10px;
    line-height: 45px;
    text-align: center;
    border: solid grey 1px;
    display: block;

}
.range-slider{
    width: 55%;
}
.step{
    width: 20%;
    height: 100%;
}

.step img {
    
    height:90%;
}
#forward {
    float:right; 
}

#reverse {
    float:left;
    padding-right: 5px;
}

#content{
    float: center;
    color: #f4a261;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    text-align: center;
    
}

.legend-control-container{
    width: auto;
    height: auto;
    background-color:hsl(33, 85%, 97%);
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    line-height: 45px;
    text-align: center;
    border:#000000 1px 
}

.temporalLegend{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#f4a261;
    font-size: larger;
    line-height: 20px;
}
